* {
    font-family: 'FiraCode Nerd Font';
    font-size: 11px;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar > box {
    background-color: @background;
    padding: 5 20;
}

#image {
    border-radius: 10;
}

#text {
    color: @foreground;
    padding: 8 5;
}
#custom-title {
    font-weight: bold;
}

#custom-progress {
    /* background: linear-gradient(90deg, @blue 10%, @module-bg 0%); */
    font-size: 11;
    padding: 0 30 0 0
}
