* {
    font-family: 'NotoMono Nerd Font';
    font-size: 11px;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    border-radius: 3;
    background-color: transparent;
  margin: 4px; 
}


#power {
    background-color: alpha(@background, 0.9);
    border-radius: 3;
}

#custom-lock,
#custom-logout,
#custom-reboot,
#custom-poweroff,
#custom-back {
    background-color: @module-bg;
    margin: 10;
    border-radius: 3;
}

#custom-lock {
    padding: 10 7 10 13;
}
#custom-logout {
    padding: 10 6 10 14;
}
#custom-reboot {
    padding: 10 7 10 13;
}
#custom-poweroff {
    padding: 10 8 10 12;
}
#custom-back {
    padding: 10 8 10 12;
}

